/* CSS Properties */
:root{
    --blue: #255ee9;
    --darkgrey: #23272a;
    --white: #fdfdfd;
    --lightgrey: #f6f6f6;
    --violet: #8da0e0;
}

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole per i container */
.container{
    width: 920px;
    margin: 0 auto;
}

.small-container{
    margin: 0 8rem;
}

.flex{
    display: flex;
}

/* Regole per l'header */
header{
    background-color: var(--blue);
    padding: 1rem 0;
}

nav .logo img{
    width: 100px;
}

nav .logo, 
nav .login{
    flex-basis: 25%;
}

nav .link-list{
    flex-grow: 1;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav .login{
    justify-content: end;
}

nav a{
    padding: .5rem;
    color: var(--white);
    text-decoration: none;
}

/* Regole per i buttons */
.btn{
    border: none;
    border-radius: 1rem;
    padding: .6rem 1.5rem;
    background-color: var(--white);
    color: var(--darkgrey);
}

.btn-small{
    padding: .4rem 1rem;
}

.btn-black{
    background-color: var(--darkgrey);
    color: var(--white);
}

.btn-violet{
    background-color: var(--violet);
    color: var(--white);
}

/* Regole per titoli e paragrafi */
.text-center{
    text-align: center;
}

.text-white{
    color: var(--white);
}

.text-black{
    color: var(--darkgrey);
}

.text-violet{
    color: var(--violet);
}

h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h2{
    font-size: 2.3rem;
    margin-bottom: 1.7rem;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
}

p{
    margin-bottom: 1rem;
}

/* Regole per le macro-sezioni */
section{
    padding: 7rem 0;
}

main section:first-of-type{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.button-list{
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

section .container.flex{
    justify-content: space-between;
}

section .container.flex .image{
    flex-grow: 1;
    max-width: 550px;
}

section .container.flex .description{
    flex-basis: 30%;
    padding-top: 2rem;
}

section.grey{
    background-color: var(--lightgrey);
}

main section:last-of-type p{
    max-width: 800px;
    margin: 0 auto;
}

main section:last-of-type .cta{
    max-width: 400px;
    margin: 0 auto;
}

.cta h3{
    padding-top: 1.4rem;
    background-image: url("../img/stars.svg");
    background-size: contain;
}

/* Regole per il footer */
footer{
    background-color: var(--darkgrey);
}

footer .container{
    padding: 4rem 0 2rem;
}

footer .container [class*="col-"]{
    padding: 10rem 0;
    flex-basis: 15%;
}

footer .container .first-col{
    flex-grow: 1;
}

/* Prima colonna */
.first-col .lang-bar{
    margin-bottom: 1rem;
}

.first-col img{
    max-width: 20px;
}

.first-col select{
    border: none;
    background-color: transparent;
}

.first-col .icon-list{
    margin-left: -0.5rem;
}

.first-col .icon-list a{
    color: var(--white);
    padding: .5rem;
}


hr{
    border-color: white;
}

footer .container:last-child{
    background-color: #7fffd4;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

footer .container:last-child div{
    background-color: #ffb6c1;
    padding: .2rem;
}